[Unit]
Description=Turn METARMap LEDs off every night

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true
Unit=metarmap-lights-off.service

[Install]
WantedBy=timers.target
