[Unit]
Description=METARMap weather LED refresh
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/pi/NYC_METARMap
ExecStart=/home/pi/NYC_METARMap/refresh.sh
